.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    letter-spacing: -2px;
}

.first-heading {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 20px;
    text-align: start;
    opacity: 0;
    animation: 0.8s hey ease-in-out forwards;
    animation-delay: 0.2s;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👋</text></svg>") 16 0,auto;
}

.based-in-text {
  align-self: end;
  margin: 40px;
  margin-right: 300px;
  font-size: 1.2em;
  letter-spacing: -1.5px;
  animation: 0.4s arrow-waiter ease-in forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.first-paragraph{
    font-weight: 500;
    font-size: 2.8em;
    text-align: end;
    padding: 10px;
    width: 40%;
    opacity: 0;
    transform: translateX(10%) !important;
    animation: 0.4s para-animate ease-in forwards;
    animation-delay: 0.8s;
}

.consultation-button{
  align-self: start;
  margin-top: -80px;
  margin-left: 300px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  animation: 0.4s arrow-waiter ease-in forwards;
  animation-delay: 0.8s;
  letter-spacing: -1px;
  transition: transform 0.2s ease-in-out;
  opacity: 0;
}

.consultation-button:hover {
  background-color: black;
  color: white;
  border-color: 1px solid white;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out ;
}

.arrow-button{
    border-radius: 18px;
    margin: 40px;
    margin-left: 40px;
    font-size: 2.4rem;
    color: black;
    border: none;
    opacity: 0;
    background-color: transparent;
    animation: 0.4s arrow-waiter ease-in forwards 0.9s;
  }
  
  .arrow-button:hover {
    cursor: pointer;
  }
@keyframes para-animate {
    from {margin-top: -94px; opacity: 0;}
    to {margin-top: -100px; opacity: 1;}
}

@keyframes arrow-waiter {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes para-animate-mobile {
    from {margin-top: -30px;}
    to {margin-top: -40px; opacity: 1;}
}

@keyframes hey {
    from {
        opacity: 0;
        transform: translateX(-44%);
      }
  
      to {
        opacity: 1;
        transform: translateX(-40%);
      }
    }

@keyframes hey-mobile {
        from {
            opacity: 0;
            transform: translateX(-20%);
          }
      
          to {
            opacity: 1;
            transform: translateX(-9%);
          }
        } 

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .first-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 0px;
        letter-spacing: -2px;
    }

    .arrow-button{
        margin: 20px;
        margin-left: 32px;
      }

      .based-in-text {
        margin: 0px;
        align-self: end;
        margin-top: 10px;
        font-size: 1rem;
      }

      .consultation-button{
        align-self: start;
        margin-top: -36px;
        margin-right: 1px;
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        margin-left: -10px;
      }
    
    .first-paragraph{
        font-weight: 500;
        font-size: 2em;
        text-align: end;
        padding: 10px;
        width: 100%;
        transform: translateX(0%) !important;
        animation: 0.4s para-animate-mobile ease-in forwards;
        animation-delay: 0.8s;
    }
    
    .first-heading {
        font-size: 4em;
        font-weight: 700;
        margin-top: 20px;
        text-align: start;
        animation: 0.8s hey-mobile ease-in-out forwards;
        animation-delay: 0.2s;
    }
}