.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    padding: 40px;
    letter-spacing: -2px;
    margin-top: 20px;
}

.first-heading {
    font-size: 7em;
    font-weight: 700;
    margin-top: 20px;
    text-align: start;
    opacity: 0;
    animation: 0.5s hey ease-in-out forwards;
    animation-delay: 0.2s;
}

.first-paragraph{
    font-weight: 500;
    font-size: 2.5em;
    text-align: end;
    padding: 10px;
    width: 40%;
    opacity: 0;
    transform: translateX(20%) !important;
    animation: 0.5s para-animate ease-in forwards;
    animation-delay: 0.5s;
}

@keyframes para-animate {
    from {margin-top: -40px;}
    to {margin-top: -60px; opacity: 1;}
}

@keyframes para-animate-mobile {
    from {margin-top: -20px;}
    to {margin-top: -40px; opacity: 1;}
}

@keyframes hey {
    from {
        opacity: 0;
        transform: translateX(-34%);
      }
  
      to {
        opacity: 1;
        transform: translateX(-30%);
      }
    }

@keyframes hey-mobile {
        from {
            opacity: 0;
            transform: translateX(-20%);
          }
      
          to {
            opacity: 1;
            transform: translateX(-9%);
          }
        } 

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .first-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        padding: 40px;
        letter-spacing: -2px;
        margin-top: 20px;
        
    }
    
    .first-paragraph{
        font-weight: 500;
        font-size: 1.8em;
        text-align: end;
        padding: 10px;
        width: 100%;
        transform: translateX(0%) !important;
        animation: 0.5s para-animate-mobile ease-in forwards;
        animation-delay: 1.1s;
    }
    
    .first-heading {
        font-size: 4em;
        font-weight: 700;
        margin-top: 20px;
        text-align: start;
        animation: 0.7s hey-mobile ease-in-out forwards;
        animation-delay: 0.2s;
    }
}