.main-header {
    display: flex;
    font-family: Inter;
    color: black;
    justify-content: center;
    background-color: transparent;
}

.HeaderLogoText {
    font-size: 40px;
    letter-spacing: -4px;
    position: relative;
    cursor: pointer;
}
