.second-container {
    display: flex;
    height: 60vh;
    background-color: white;
    justify-content: center;
    margin: 20px;
}

.black-container-for-second{
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 34px;
    flex-direction: column;
    align-items: center;
}

.second-paragraph {
    color: white;
    font-size: 3.4rem;
    text-align: center;
    width: 62%;
    letter-spacing: -2.4px;
    line-height: 50px;
    font-weight: 500;
}

@keyframes scroll-up-for-black-container {
    0% {
        opacity: 0;
        transform: scale(0.2);
      }
      25% {
        opacity: 1;
        
        transform: scale(0.4);
      }
      50% {
        opacity: 1;
        transform: scale(0.6);
      }
      75% {
        opacity: 1;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }


@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .second-container {
        height: 52vh;
        margin: 0px;
        margin-top: -80px;
    }

    .black-container-for-second{
        height: 50vh;
        background-color: black;
        margin: 0px;
        border-radius: 18px;
    }
    
    .second-paragraph {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        width: 90%;
        line-height: 32px;
        letter-spacing: -1.2px;
    }
}