.second-container {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.black-container-for-second{
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 34px;
    flex-direction: column;
    align-items: center;
}

.second-paragraph {
    color: white;
    font-size: 3.4rem;
    text-align: center;
    width: 82%;
    letter-spacing: -2.4px;
    line-height: 60px;
    font-weight: 500;
}

  .white-container-for-second{
    height: 60vh;
    border-radius: 34px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.third-paragraph {
  color: black;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  letter-spacing: -4px;
  font-weight: 700;
}

.third-paragraph::after {
  content: ""; /* The pseudo-element does not display any text */
  position: absolute; /* Positions the pseudo-element absolutely */
  bottom: 10;
  transform: translateY(1600%);
  left: 37%; /* Position it so that it's centered */
  width: 26%; /* The width of the underline */
  height: 6px; /* The thickness of the underline */
  background-color: black; /* The color of the underline */
}

.tech-stack {
  display: flex;
  justify-content: space-between;  
  align-items: center;    
  margin: 60px;
}

.stack {
  margin: 2px;
  width: 24%;
  border: 4px solid black;
  height: 36vh;
  border-radius: 14px;
  text-align: center;
  overflow: hidden; 
}

.react-img {
  margin: 30px;
  cursor: pointer;
}

.django-img {
  cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .second-container {
        margin: 0px;
    }

    .black-container-for-second{
        background-color: black;
        margin: 0px;
        border-radius: 12px;
    }
    
    .second-paragraph {
        color: white;
        font-size: 1.69rem;
        text-align: center;
        width: 88%;
        line-height: 32px;
        letter-spacing: -1.8px;
    }

    .third-paragraph {
      color: black;
      font-size: 2.6rem;
      text-align: center;
      width: 100%;
      letter-spacing: -2.8px;
      line-height: 0px;
    }

    .third-paragraph::after {
      content: ""; /* The pseudo-element does not display any text */
      position: absolute; /* Positions the pseudo-element absolutely */
      bottom: 10;
      transform: translateY(660%);
      left: 18%; /* Position it so that it's centered */
      width: 64%; /* The width of the underline */
      height: 4px; /* The thickness of the underline */
      background-color: black; /* The color of the underline */
    }    

  .white-container-for-second{
      height: 60vh;
      margin-top: 100px;
  }

  .tech-stack {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 40px;
  }

  .stack {
    display: flex;
    margin: 20px;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .react-img {
    margin: 20px;
  }
}