.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
}

.what-i-do-heading {
    font-size: 6rem;
    letter-spacing: -4px;
}