:root {
    --font-size-large: 1.8rem;
    --font-weight-six: 600;
    --letter-spaced: -2px;
  }

.frontend {
    font-weight: var(--font-weight-six);
    font-size: var(--font-size-large); 
    letter-spacing: var(--letter-spaced);
    background-color: rgb(210, 231, 250);
    margin: 1px;
    padding: 2px;
}

.backend {
    font-weight: var(--font-weight-six);
    font-size: var(--font-size-large); 
    letter-spacing: var(--letter-spaced);
    background-color: rgb(210, 231, 250);
    margin: 1px;
    padding: 2px;
}

.database {
    font-weight: var(--font-weight-six);
    font-size: var(--font-size-large); 
    letter-spacing: var(--letter-spaced);
    background-color: rgb(210, 231, 250);
    margin: 1px;
    padding: 2px;
}

.frontend-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.backend-image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

